@charset "utf-8";
/**
* 样式初始化部分 
**/
body{
    font-size: 16px;
}
body,html,header,footer,main,nav,section,article,aside,div,p,span,input,select,textarea,button,a,ul,ol,li,h1,h2,h3,h4,h5,h6 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
button,input[type="button"],input[type="submit"],input[type="reset"],input[type="radio"],input[type="checkbox"],a{
    cursor: pointer;
}
button,input,textarea,select {
    outline: none;
}
li,ul{
    list-style: none;
}
header{
    width: 100%;
    height: 40px;
    background-color: #1c1717;
    text-align: center;
}
header span{
    color: #fff;
    font-size: 17px;
    line-height: 40px;
    font-family: "微软雅黑";
}
a{
    text-decoration: none;
}
header a{
    line-height: 40px;
    position: absolute;
    left: 20px;
    color: #fff;
    font-family: "微软雅黑";
    font-size: 13px;
}